.cpnt_header {
    position: relative;
    display: flex;
    height: 84px;
    /* line-height: 50px; */
    padding: 0 40px;

    background-color: white;
    border-bottom: 1px solid #e2e2e2;
    align-items: center;

    z-index: 1;
}
.cpnt_header .logo {
    margin-right: 8px;

    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    color: rgb(var(--primary-color));
}
.cpnt_header .tabbar {
    display: flex;
}
.cpnt_header .tabbar .tab {
    position: relative;
    margin: 0 16px;
    padding: 0 4px;
    cursor: pointer;

    font-size: 20px;
    line-height: 40px;
}

.cpnt_header .tabbar .active {
    font-weight: 500;
    color: rgb(var(--primary-color));
}

.cpnt_header .tabbar .active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;

    background-color: rgb(var(--primary-color));
}

.cpnt_header .tabbar .tab:hover {
    color: rgb(var(--primary-color));
}

.cpnt_header .login {
    display: flex;
    width: 111px;
    padding: 8px 22px;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
    border: 1.5px solid rgb(var(--primary-color));

    font-size: 20px;
    font-weight: 500;
    color: rgb(var(--primary-color));
}